:root {
    --primary-color: #007bff;
    --dark-color: #343a40;
    --light-color: #f8f9fa;
    --secondary-color: #6c757d;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-color);
    padding-top: 56px; 
}

section {
    position: relative;
}

section:before {
    content: "";
    display: block;
    height: 80px; 
    margin-top: -80px; 
    visibility: hidden;
    pointer-events: none;
}


.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
    color: white !important;
}

/* Header Section */
header {
    background-color: var(--primary-color) !important;
    padding: 8rem 0;
}

header img {
    border: 5px solid white;
}

/* Card Styles */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

/* Skills Icons */
.fa-3x {
    font-size: 3rem;
    color: var(--primary-color);
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Footer */
footer {
    background-color: var(--dark-color) !important;
}